In [7]:
### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

#> Salary(Lakhs) : Tax(%)

"""*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%"""
ctc =float(input( "enter salery in lakh :"))
HAR_per=0.10
DA_per=0.05
PF_per=0.03

har_per= ctc * HAR_per
da_per= ctc * DA_per
pf_per= ctc * PF_per
taxble_salery= ctc - (har_per+da_per+pf_per)
if taxble_salery <5:
    tax=0
elif 5 <= taxble_salery <10:
    tax=0.10
elif 10 <=taxble_salery <20:
    tax=0.20
else:
    tax=0.30


tax_deu=taxble_salery*tax
hand_held=taxble_salery-tax_deu
#ctc = float(input("Enter the CTC in Lakhs: ")) * 100000 
montly =hand_held/12
print (f"salery is : {montly:.2f} lakh")
#print(f"In-hand monthly salary: {monthly_salary :.2f } lakhs")

enter salery in lakh : 1.5

salery is : 0.10 lakh

In [22]:
## Problem 2: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.
angle1= float (input ("enter the angle1:"))
angle2= float (input ("enter the angle2:"))
angle3= eval (input ("enter the angle13:"))

tringle = angle1+angle2+angle3
                                                               ###self
if tringle==180:
    print ("tringle is made")
else:
    print ("tringle not found")

enter the angle1: 60
enter the angle2: 60.5
enter the angle13: 59.5

tringle is made

In [32]:
##Problem 3: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

cost=float(input ("Enter the cost price:"))
seling = float(input("Enter the seling price:"))
loss=cost-seling
profit=seling-cost
if profit>0:
    print ("Get profit")                              ###self
else:
    print ("Get loss")

Enter the cost price: 50
Enter the seling price: 50

Get loss

In [6]:
##Problem 4: Write a menu-driven program -
"""cm to ft
km to miles
USD to INR
exit
"""

num=int (input (""" enter one number that you want perform action
1.cm to ft
2.km to miles
3.USD to INR
Exit
"""))
if num== 1:
    cm= float (input (" Enter the cm :"))
    cm1=cm*0.3280
    print ( cm, "CM is into ft",cm1)                      ###self
elif num==2:
    km = folat (input (" Enter KM :"))
    km1= km*0.621371
    print( km," KM is into miles is :",km1)
elif num==3 :
    USD= float (input ("Enter USD:"))
    usd1= USD*83.54
    print (USD," USD is into INR is :",usd1)
else:
    print ("Exit")

 enter one number that you want perform action
1.cm to ft
2.km to miles
3.USD to INR
Exit
 4

Exit

In [17]:
 ##Problem 5 - Exercise 12: Display Fibonacci series up to 10 terms

n= int (input(" entrthe number :"))
n1,n2=0,1
if n==1:
    print (n1)
else :
    print (n1,n2,end=" ")
    for i in range (2,n):                               ##50, self
        n3=n2+n1
        n1=n2
        n2=n3
        print (n3,end=" ")

 entrthe number : 10

0 1 1 2 3 5 8 13 21 34

In [32]:
## Problem 6 - Find the factorial of a given number.
n= int (input(" enter the number :"))
count = 1
for i in range (1,n+1):
    count =count*i
print (count)  




## second method 
import math
math.factorial(5)

 enter the number : 5

120

120

In [12]:
##Problem 7 - Reverse a given integer number.

num=int(input("Enter the number "))
if num<0:
    pass
else:
    revers=int(str(num)[::-1])                          ###self

print (revers)



##str_lst = str(lst)  # Output: '(1, 2, 3)'

Enter the number  123456789

987654321

In [12]:
##Problem 8: Take a user input as integer N.
"""Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. 
And if the sum is greater than 300, don't need to calculate the sum further more.
Print the final result. And don't use for loop to solve this problem."""
n=int (input("enter the number"))

total_sum = n * (n + 1) //2

if total_sum %5!=0 and total_sum<=300:
  print(total_sum)


print (total_sum)

enter the number 30

465

In [32]:
def sum_to_n_recursive(n, current_sum=0):
    if n <= 0 or current_sum > 300:
        return current_sum
    
    if n % 5 != 0:
        current_sum += n
    
    return sum_to_n_recursive(n-1 , current_sum)

# Example usage
n = int(input("Enter a positive integer N: "))
final_sum = sum_to_n_recursive(n)
print(f"The final sum is: {final_sum}")

Enter a positive integer N:  30

The final sum is: 309

In [9]:
##Problem 9: Write a program that keeps on accepting a number from the user 
##until the user enters Zero. Display the sum and average of all the numbers.
capital=True
count=0
while True:
    n= int (input("enter the number "))
    if n== 0:
        break
        
    for i in range (1,n+1):
                                             ###self
        count =count+1
print (count)    
avrege= count/i           
print (avrege)

enter the number  1
enter the number  5
enter the number  78
enter the number  85
enter the number  45
enter the number  515
enter the number  78
enter the number  0

807
10.346153846153847

In [29]:
#Problem 9: Write a program which will find all such numbers which 
#are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
#The numbers obtained should be printed in a comma-separated sequence on a single line.

for i in range (2000,3201):                  ##self
    if i %7==0 and i*5!=0:
       print (i,end=(","))

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2800,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2975,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3150,3157,3164,3171,3178,3185,3192,3199,

In [39]:
##Write a program, which will find all such numbers between 1000 and 3000 (both included)
##such that each digit of the number is an even number. The numbers obtained should be 
##printed in a space-separated sequence on a single line.



for i in range (1000,3001):
    number=str(i)
    if all (int(digit)%2==0 for digit in  number):                     ##number   if all(int(digit) % 2 == 0 for digit in str_number):
      print (i,end=(" ") )

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

In [25]:
# Initialize the starting position of the robot
x, y = 0, 0

# Define the list of movements
movements = [
    ("UP", 5),
    ("DOWN", 3),
    ("LEFT", 3),
    ("RIGHT", 2)
]

# Process each movement
for direction, steps in movements:
    if direction == "UP":
        y += steps
    elif direction == "DOWN":
        y -= steps
    elif direction == "LEFT":
        x -= steps
    elif direction == "RIGHT":
        x += steps

# Print the final position
print (x,y)

-1 2

In [28]:
#movment=UP=input("enter direction:")  
#DOWN=input("enter direction:") 
#LEFT=input("enter direction:")  
#RIGHT=input("enter direction:")
x,y=0,0
movments=[
    ("UP",5),
     ("DOWN",3),
     ("LEFT",3),
     ("RIGHT",2)
    ]

for direction,steps in movments:
    if direction=="UP":
        y=y+steps
    elif direction=="DOWN":
        y=y-steps
    elif direction=="LEFT":
        x=x-steps
    elif direction=="RIGHT":
        x=x+steps
print (x,y)

-1 2

In [49]:
## Problem 12:Write a program to print whether a given number is a prime number or not

num=int (input(" Enter the number :"))

if num>1:
    count=0
    for i in range(2,(num//2)+1):
        if (num % i) ==0:
           print (" not") 
           break
    else:
      print ("prime")
      count +=1

 Enter the number : 17

prime

In [50]:
##Problem 13:Print all the Armstrong numbers in a given range.

print (5**2)

25